<div class="col-6 m-auto pt-5 pb-5">
  <form>
    <div class="mb-3">
      <label for="title">Title</label>
      <input type="text" name="title" class="form-control" id="title" />
    </div>
    <div class="mb-3">
      <label for="blog-body">Post Details</label>
      <textarea class="form-control" rows="10" id="blog-body"></textarea>
      <div class="invalid-feedback">
        Please Enter the Title/Details of your post
      </div>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary" id="submit-post">
        Add Post
      </button>
    </div>
  </form>
</div>
